NEXT_PUBLIC_API_PUBLISH_KEY=pk_0b46da2dacb90bd208f30756f7c7483bc5526bde2dc53f67692a77e1bb048056

NEXT_PUBLIC_API_URL=https://nestjs-ecommerce-hub-develop.up.railway.app

NEXT_PUBLIC_PROVIDER_PAYMENT_ID=pp_system_default

NEXT_PUBLIC_NOVU_SECRET_KEY=b7c3ffc066e08698548bdb41f6280830
NEXT_PUBLIC_NOVU_APP_INDEN=nj35mrzlNRbl
NEXT_PUBLIC_NOVU_ENV_KEY=67654e05022420fcfb0c4855


NEXT_PUBLIC_BLOG_API_URL=https://nestjs-meta-payload-cms-production.up.railway.app 

NEXT_PUBLIC_USER_ID=58 
NEXT_PUBLIC_CHANNEL_ID=73 
NEXT_PUBLIC_CONTENT_MODEL_ID=100

NEXT_PUBLIC_REGION_ID=reg_01JE87XPDKDT2KZPJ0Q4E112NH
NEXT_PUBLIC_SALES_CHANNEL_ID=sc_01JE7QADV0YZP1T8QM755B7XR7
NEXT_PUBLIC_CALLBACK_URL=http://localhost:3000

NEXT_PUBLIC_ABLY_KEY=oRbFuw.O9o1Wg:9Rc9gYJFncTARGJDLNOuUt-JOMm54cQmK02gRD6hSE0